<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h3>Horror Stories</h3>
      <img src="https://i.pinimg.com/originals/56/99/14/5699148f0ebc53857b085aeef38064db.jpg" alt="100px" width="100%">
    <p>Dar lagta hai ji, toh bhagoo yaha se.</p>
  </div>
  <p>Bhangarh.</p>
  <p>Kuldhara</p>
</div>
</body>
</html>