<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<div class="container">
<style>
    body{ background-color:lightblue}
</style>

<body>
<table>

<h1 style="text-align:center;align:center;color:red ">Hi all welcome to my website.</h1>
<h4 style="text-align:left"> To create an account click here <a href = "http://localhost:8000/myapp/registration"><button class="btn btn-primary"> User Logon</button></a></h4>
<h4> If you already have an account, login here <a href = "http://localhost:8000/myapp/login"><button class="btn btn-primary">User Login</button></a></h4>
<h4> If you want to save data in Student database. <a href = "http://localhost:8000/myapp/forms"><button class="btn btn-primary">Student Form</button></a></h4>
<h4 style="text-align:left"> To view the database of students <a href = "http://localhost:8000/myapp/data"><button class="btn btn-primary"> Click Me</button></a></h4>

</table>
</body>
</div>
</html>