<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
body { background-color: lightyellow}
</style>
<body>
<div class="container">

    <h1>Hi, you have successfully logged out. </h1>
    <h3>To login again <h3>
        <a href ="http://localhost:8000/myapp/login"><button class="btn btn-primary"> Click Here</button></a>
    <h3>To Register, Click here  </h3>
        <a href = "http://localhost:8000/myapp/registration"><button class="btn btn-primary">Registration</button></a>
        <h3 style="text-align:right"><b>Home Page</b> <a href = "http://localhost:8000/myapp/home">Home</a></h3>

</body>
</html>