<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegSucess</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">
<div class="container">
<h1 style="color:green; text-center; text-align: center;">Congratutions!</h1>
<h2 style="text-align: center;">Registration successful.</h2>
<div class="container">
</div>
<style>
img{ display:block; margin-right:auto; margin-left:auto } </style>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Breathe-face-smile.svg/1200px-Breathe-face-smile.svg.png" class=" display:block"   width=""304" height="226">
<h4>To login  <a href ="http://localhost:8000/myapp/login">Click Here</a> </h4>
     <h4 style="text-align:right"> Home Page <a href = "http://localhost:8000/myapp/home">Home</a></h4>
</body>
</html>